.cart-top {
    display: flex;
}

.cart-items {
    /* width: 100px;
    height: 100px; */
    /* padding-left: 5vh; */
}

.cart-item-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.all-cards-list {
    /* display: flex; */
    padding: 20px 20px 20px 20px;
}

.cc-img-list {
    display: flex;
}

.cc-img {
    width: 40px;
    height: 25px;
    border-radius: 2px;
    margin: 5px;
    border: 1px solid rgb(223, 223, 223);
}

.klarna-top {
    display: flex;
}

.klarna-text {
    margin-top: 10px;
}

.checkout-button {
  text-align: center;
  color: white;
  background: #222222;
  border: none;
  cursor: pointer;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  vertical-align: middle;
  z-index: 10;
  width: 400px;
  height:50px;
  margin: 2% 0 2% 5%;
}

.checkout-button:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.02);
}

.cart-installment-text {
    display: flex;
}

.cart-installment-text-1 {
    
}

.cart-installment-text-2 {

}

.cart-installment-text-3 {
    text-decoration: underline;
}

.klarna-text {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 340;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
}

.all-cards-list-top {
    background-color: white;
    margin-left: 15vh;
    outline: none;
    border-color: #b8b8b8;
    box-shadow: 0 0 30px #cacaca;
    border-radius: 15px;
}

.radio-cc-top {
    display: flex;
}

.radio-pp-top {
    display: flex;
}

.cart-installment-text-1 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 340;
    font-size: 13px;
    line-height: 18px;
    /* letter-spacing: 1px; */
}
.cart-installment-text-2 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    /* letter-spacing: 1px; */
    font-weight: 500;
}
.cart-installment-text-3 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 340;
    font-size: 13px;
    line-height: 18px;
    /* letter-spacing: 1px; */
}

.item-total-list {
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
}

.item-price-thing-1-1 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 28px; */
}

.item-price-thing-1-2 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.shop-discount-list {
    display: flex;
    justify-content: space-between;
}

.item-price-thing-2-1 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.item-price-thing-2-2 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 28px;
}

.subtotal-list {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
}

.shipping-list {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
}

.shipping-list-1 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 28px;
}

.shipping-list-2 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 35px;
    color: green;
}

.shipping-location-top {
 display: flex;
}

.shipping-location-1 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 28px;
}

.shipping-location-2 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 28px;
    text-decoration: underline;
}


.shop-line-divide {
    width: 400px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.cart-items-top {
    padding-left: 2vh;
}

.cart-items-list-top {
    display: flex;
}

.cart-item-name {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-font-smoothing: antialiased;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    line-height: 30px;
}

.cart-quantity-button {
    padding: 14px 22px;
    border-color: #dbdbdb;
    box-shadow: 0 0 10px #dbdbdb;
    border-radius: 5px;
}

.cart-items-element {
    padding-left: 50px;
}

.cart-item-price {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.cart-item-delete {
    border: none;
    background: none;
    margin-top: 4vh;
}

.cart-item-delete:hover {
    opacity: .5;    
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.cart-item-counter-top {
    margin: 0 0 50px 10px;
    padding-left: 50px;
}

.cart-item-counter-text {
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 300;
    font-size: 4vh;
    letter-spacing: 0.35px;
    color: #222222;
    -webkit-font-smoothing: antialiased;
}

.uplift-fund {
    display: flex;
    padding: 30px 30px 0 110px ;
}
.toptoptop {
    margin: 0 50px 0 0;
    padding-right: 100px;
}

.uplift-fund-1 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 28px;
}

.bottom-left-cart-radio {
    display: flex;
    padding-left: 60px;
}

.bottom-left-cart-top {
    
}

.this-order-gift {
    display: flex;
    /* margin-left: 50px; */
}

.coupon-top {
    /* margin-left: 30px; */
}

.apply-shop-coupon-code-1 {
    display: flex;
    padding-left: 150px;
    /* border: 0 60px 0 60px; */
    padding-bottom: 50px;
}

.apply-shop-coupon-text {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.apply-shop-coupon-code-2 {
    padding-left: 150px;
    /* border: 0 60px 0 60px; */
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    /* line-height: 28px; */
}

.apply-shop-coupon-code-3 {
    padding-left: 220px;
    /* border: 0 60px 0 60px; */
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    /* line-height: 28px; */
}

.shopping-cart-bottom {
    display: flex;
}

.bottom-left-cart-top-top {
    /* width: 2000px */
    margin-top: 60px;
}

.cart-item-textarea {
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgb(204, 204, 204);
    border-color: rgba(34, 34, 34, 0.15);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    color: #222222;
    outline: none;
    resize: none;
    margin-top: 30px;
}

.bottom-left-cart-radio-thing {
  appearance: none;
  background: white;
  outline: 1px solid #cacaca;
  border: 1.5px solid #cacaca;
  width: 14px;
  box-shadow: 0 0 50px #cacaca;
  height: 14px;
}

.bottom-left-cart-radio-thing-desc {
    padding-left: 5px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.price-not-shown {
    padding-top: 10px;
    padding-left: 30px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    /* line-height: 28px; */
}

.carbon-message {
    display: flex;
    padding-left: 520px;
    padding-top: 50px;
}

.carbon-message-text {
    margin-top: 4px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    /* line-height: 28px; */
}