.toptop {
    /* background-color: red; */
    /* display: flex; */
}

.square-category-image {
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 5%;
    max-width:70%;
    cursor: pointer;
    margin: 0 0 0 20%;
        /* object-fit:scale-down; */
    width:  300px;
    height: 200px;
}

.square-category-price {
    height: 30px;
    border-radius: 40px;
    position: absolute;
    top: 80%;
    left: 23%;
    border-style: none;
    background-color: white;
    border: 1px solid rgba(34, 34, 34, 0.15);
}

.sub-square-categories-div {
    position: relative;
    /* max-width: 40vh;
    max-height: 40vh; */
}

.square-category-image:hover {
    outline: none;
    border-color: #b8b8b8;
    box-shadow: 0 0 10px #b8b8b8;
}


.square-category-text {
    -webkit-font-smoothing: antialiased;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin: 4% 0 2% 4%;
    cursor: pointer;
}

.square-category-description {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0 0 0 20%;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  color: black;
  text-align: center;
}

.square-category-list {
    display: flex;
    list-style: none;
    object-fit: cover;
}

.sub-square-categories {

}

.small-square-category-text {
    -webkit-font-smoothing: antialiased;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin: 6% 0 0 12%;
    cursor: pointer;
}

.smaller-category-text {
    -webkit-font-smoothing: antialiased;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-left: 12%;
    margin-bottom: 2%;
}









.square-cat-outer {
    display: flex;
    /* margin-left: 100p; */
    padding: 1vh 10vh 5vh 13vh;
}

.square-cat-item-big {
    list-style: none;
}

.square-cat-list-big {
    list-style: none;
}

.square-cat-image-big {
    width: 450px;
    height: 450px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 5%;
}

.square-cat-price-big {
    height: 30px;
    border-radius: 40px;
    position: relative;
    top: -40px;
    left: 5px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    background-color: white;
}

.square-cat-price {
    height: 30px;
    border-radius: 40px;
    position: relative;
    top: -40px;
    left: 5px;
    border-style: none;
    border: 1px solid rgba(34, 34, 34, 0.15);
    background-color: white;
}


.square-cat-item-small {
    list-style: none;
    /* display: flex; dont want this*/
}

.square-cat-item-small-1 {
    display: flex;
}
.square-cat-item-small-2 {
    display: flex;
}

.square-cat-list {
    margin: 0 0 0 50px;
    list-style: none;
}

.square-cat-image {
    width: 209px;
    height: 209px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 5%;
}

.square-cat-image-big:hover {
    outline: none;
    border-color: #b8b8b8;
    box-shadow: 0 0 10px #b8b8b8;
}


.square-cat-image:hover {
    outline: none;
    border-color: #b8b8b8;
    box-shadow: 0 0 10px #b8b8b8;
}








.prints-text-big {
    -webkit-font-smoothing: antialiased;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 0 4%;
    cursor: pointer;
}

.prints-text-small {
    -webkit-font-smoothing: antialiased;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-left: 4%;
}

.prod-sec-3-top {
    margin: 2vh 5vh 5vh 6vh;
    /* background-color: yellow; */
}

.prod-sec-3-list {
    display: flex;
    position: relative;
}

.prod-sec-3-list-items {
    /* padding: 5vh; */
    margin: 2vh 2vh 2vh 2vh;
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 20px;
    box-shadow: 0 0 10px #b8b8b8;
    text-align: center;
}

.third-cat-image {
    width: 240px;
    height: 240px;
    border: 1px solid rgba(138, 138, 138, 0.15);
    border-radius: 5%;
}

.third-cat-price {
    height: 30px;
    border-radius: 40px;
    position: relative;
    top: -40px;
    left: -88px;
    border-style: none;
    background-color: white;
    border: 1px solid rgba(34, 34, 34, 0.15);
}

.prod-sec-3-list-items-text {
    font-size: 4vh;
    padding: 0 2vh 2vh 2vh;
}
.prod-sec-3-list-items:hover {
    outline: none;
    border-color: #b8b8b8;
    box-shadow: 0 0 20px #b8b8b8;
}
