.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-width: 2px;
  border-color: #222222;
  background: #FFF;
  border-radius: 24px;
  position: relative;
  margin: auto;
  max-width: 600px;
  width: 100%;
  z-index: 10;
}

.submit-button {
  text-align: center;
  color: #FFFFFF;
  background: #222222;
  border: none;
  cursor: pointer;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  vertical-align: middle;
  z-index: 10;
  width:250;
  margin: 10px;
}

.close-x {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  float: right;
  font-size: 20px;
  top:0px;
  right: -50px;
  height: 24px;
  width: 24px; 
}

email-item {

}