.show-page-top {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.show-page-image-div {
    margin-left: 100px;
}

.show-page-image {
    max-width: 80vh;
    max-height: 80vh;
    border-color: #b8b8b8;
    box-shadow: 0 0 10px #b8b8b8;
    border-radius: 5px;
}

.show-page-other-div {
    margin: 0 0 0 13%;
}

.show-page-name {
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 300;
    font-size: 4vh;
    letter-spacing: 0.35px;
    color: #222222;
    -webkit-font-smoothing: antialiased;
}

.show-page-price {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin: 10px 0 0 0;
}

.installments-top {
    display: flex;
    margin: 10px 0 0 0;
}

.installments-text {
    padding-right: 3px;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.installments-link1 {
    padding-right: 3px;
    text-decoration: underline;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.installments-bold {
    padding-right: 3px;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.installments-link2 {
    padding-right: 3px;
    text-decoration: underline;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.show-page-add-cart-button {
    margin: 10px 0 0 0;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    border-radius: 40px;
    max-height: 48px;
    min-height: 48px;
    min-width: 450px;
    background: #222222;
    border: 2px solid black;
    outline: none;
    -webkit-font-smoothing: antialiased;
    color: white;

    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.show-page-add-cart-button:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.02);
}

.show-page-description-list {
    /* display: flex; */
    margin: 20px 0 0 0;
}

.show-page-description-button {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    border-radius: 40px;
    max-height: 48px;
    min-height: 48px;
    min-width: 450px;
    background: white;
    border-style: none;
    /* border: 2px solid black; */
    outline: none;
    -webkit-font-smoothing: antialiased;
    color: black;

    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.show-page-description-button:hover {
    background: #b8b8b8;
    /* border: 2px solid black; */
    outline: none;
    color: white;
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s ease-in-out;
}

.show-page-description {
    /* overflow: hidden; */
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    /* text-overflow: ellipsis; */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2; */
    /* -webkit-box-orient: vertical; */
    margin: 20px 0 0 0;

    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;   
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.cart-and-van-list-item {
    display: flex;
    list-style: none;
    padding: 3vh 0 0 0;
}

.cart-and-van-list-item-1 {
    /* display: flex; */
    /* padding-left: 10px; */
}

.van-sen-div {
    /* display: flex; */
    padding-left: 10px;
}

.van-sen-items {
    /* margin-left: 30px; */
}

.create-review-textarea {
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgb(204, 204, 204);
    border-color: rgba(34, 34, 34, 0.15);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    color: #222222;
    outline: none;
    resize: none;
}

.policy-descriptions {
    
}

.policy-desc-something-1 {
   
}

.policy-desc-1 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 28px;
    /* border-bottom: 1px dashed black;
    width: 90px; */
    text-decoration: underline dashed;
}

.policy-desc-2 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 28px;
}

.show-page-ship-icons-list-top {
    padding-top: 30px;
}

.show-page-ship-icons-list {
    display: flex;
    justify-content: space-between;
}
/* 
.show-page-ship-icons {
    border-radius: 50px;
    background-color: grey;
    width: 30px;
    height: 30px;
} */

.show-page-ship-icons {
    background-color: rgb(209, 209, 209);
    border-radius: 50px;
}

.show-page-ship-line-divide {
    width: 180px;
    margin-bottom: 12px;
    border-bottom: 2px solid rgb(209, 209, 209);
}

.jank-css {
    padding-left: 4vh;
}

.running-out-of-names-1 {
    display: flex;
    /* padding-top: 2vh; */
    justify-content: space-between;
    ont-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 0 0 0;
}

.running-out-of-names-2 {
    display: flex;
    /* padding-top: 2vh; */
    justify-content: space-between;
    ont-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 0 10px 0;
}

.cart-and-van-desc {
    /* padding-right: 3px; */
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.running-out-of-names-2-inner {
    text-decoration: underline dashed;
}

.cost-return-top {
    display: flex;
    padding-top: 20px;
}

.cost-return-cost-to-ship {
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(138, 138, 138);
}

.cost-return-free {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 28px;
    padding-top: 10px;
}

.cost-return-top-list-2 {
    padding-left: 20vh;
}

.cost-return-cost-to-ship-2 {
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(138, 138, 138);
    padding-top: 5px;
}

.total-reviews-top {
    display: flex;
    padding-top: 10%;
}


.total-num-reviews {
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 250;
    letter-spacing: 0.35px;
    font-size: 26px;
}

.total-reviews-string {
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 250;
    letter-spacing: 0.35px;
    font-size: 26px;
    padding-left: 10px;
}

.total-reviews-star-avg {
    padding-left: 10px;
}

.total-reviews-line {
    width: 550px;
    margin-bottom: 12px;
    border-bottom: 2px solid rgb(209, 209, 209);
}