.show-page-top {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.show-page-image-div {
    margin-left: 100px;
}

.show-page-image {
    max-width: 80vh;
    max-height: 80vh;
    border-color: #b8b8b8;
    box-shadow: 0 0 10px #b8b8b8;
    border-radius: 5px;
}

.show-page-other-div {
    margin: 0 0 0 35vh;
}

.show-page-name {
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 300;
    font-size: 4vh;
    letter-spacing: 0.35px;
    color: #222222;
    -webkit-font-smoothing: antialiased;
}

.show-page-price {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin: 10px 0 0 0;
}

.installments-top {
    display: flex;
    margin: 10px 0 0 0;
}

.installments-text {
    padding-right: 3px;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.installments-link1 {
    padding-right: 3px;
    text-decoration: underline;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.installments-bold {
    padding-right: 3px;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.installments-link2 {
    padding-right: 3px;
    text-decoration: underline;
    font-family: "Graphik Webfont", Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.show-page-add-cart-button {
    margin: 10px 0 0 0;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    border-radius: 40px;
    max-height: 48px;
    min-height: 48px;
    min-width: 450px;
    background: #222222;
    border: 2px solid black;
    outline: none;
    -webkit-font-smoothing: antialiased;
    color: white;

    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.show-page-add-cart-button:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.02);
}

.show-page-description-list {
    /* display: flex; */
    margin: 20px 0 0 0;
}

.show-page-description-button {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    border-radius: 40px;
    max-height: 48px;
    min-height: 48px;
    min-width: 450px;
    background: white;
    border-style: none;
    /* border: 2px solid black; */
    outline: none;
    -webkit-font-smoothing: antialiased;
    color: black;

    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.show-page-description-button:hover {
    background: #b8b8b8;
    /* border: 2px solid black; */
    outline: none;
    color: white;
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s ease-in-out;
}

.show-page-description {
    /* overflow: hidden; */
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    /* text-overflow: ellipsis; */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2; */
    /* -webkit-box-orient: vertical; */
    margin: 20px 0 0 0;

    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;   
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.cart-and-van-list-item {
    display: flex;
    list-style: none;
    padding: 3vh 0 0 0;
}

.cart-and-van-list-item-1 {
    /* display: flex; */
}

.van-sen-div {
    /* display: flex; */
}

.van-sen-items {
    /* margin-left: 30px; */
}

.create-review-textarea {
    resize: none;
    background-image: linear-gradient(-15deg,rgba(163, 163, 163, 0.25),#fff);
    border-radius: 5px;
    outline: none;
}
